:root {
  --foreground: #171717;
  --background: #ffffff;

  --background-start-rgb: 215, 216, 220;
  --background-end-rgb: 255, 255, 255;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hover-shadow {
  transition: all 0.3s ease;
}
.hover-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2) !important;
}

.transition {
  transition: all 0.3s ease;
}

.card {
  border-radius: 15px;
}

.btn {
  border-radius: 8px;
  font-weight: 500;
}

.badge {
  border-radius: 20px;
  padding: 0.5em 1em;
}
